.cards {
    &__row {
        display: flex;
        margin: 0 -15px;
    }

    &__column {
        padding: 0 15px;
        flex: 0 1 25%;
    }

    &__item {
        padding: 44px 36px 53px 41px;
        background: #f8f8f8;
        transition: all 0.3s ease 0s;

        height: 100%;

        &:hover {
            background: #ffffff;
            box-shadow: 0px 12px 30px rgba(200, 180, 180, 0.2);
        }

        display: flex;
        flex-direction: column;
    }

    &__wrap-image {
        text-align: center;
        margin-bottom: 24px;
    }

    &__image {
        max-width: 100%;
    }

    &__title {
        font-family: $fontNotoSerif;
        font-weight: 700;
        font-size: 24px;
        line-height: 137.5%;
        text-align: center;

        color: #2c2c2c;

        margin-bottom: 24px;
    }

    &__text {
        font-family: "Product Sans", sans-serif;
        font-size: 18px;
        line-height: 144.5%;
        text-align: center;

        color: #a79997;
    }
}

@media (max-width: 1200px) {
    .cards {
        &__row {
            flex-wrap: wrap;
            justify-content: center;
            margin: -15px;
        }

        &__column {
            flex: 0 1 35%;
            padding: 15px;
        }
    }
}
@media (max-width: 1023px) {
    .cards {
        &__column {
            flex: 0 1 45%;
        }
    }
}
@media (max-width: 700px) {
    .cards {
        &__row {
        }

        &__column {
            flex: 0 1 70%;
            padding: 20px 0;
        }
    }
}
@media (max-width: 700px) {
    .cards {
        &__column {
            flex: 0 1 100%;
        }
    }
}
